<% if params[:only_pending] %>
  <%- page_title t("scheduled_mails.index.pending") -%>
  <%- breadcrum t("scheduled_mails.index.pending") -%>
<% else %>
  <%- page_title t("scheduled_mails.index.title") -%>
  <%- breadcrum t("scheduled_mails.index.title") -%>
<% end %>

<table class="table table-striped">
  <thead>
  <tr>
    <td><%= t('scheduled_mail.attributes.template') %></td>
    <td><%= t('scheduled_mail.attributes.recipient_email') %></td>
    <td><%= t('scheduled_mail.attributes.from_address')  %></td>
    <td><%= t('scheduled_mail.attributes.bccs')  %></td>
    <td><%= t('scheduled_mail.attributes.send_at') %></td>
    <td>
      <% if @scheduled_mails.first.delivered_at %>
        <%= t('scheduled_mail.attributes.delivered_at') %>
      <% else%>
        <%= t('scheduled_mail.attributes.conditions') %>
      <% end %>
    </td> 
  </tr>
  </thead>
  <tbody>
    <% @scheduled_mails.each do |sm| %>
      <% unless sm.cancelled? %>
        <tr>
          <td><%= link_to(sm.template.name, sm.template) if sm.template %></td>
          <td><%= link_to_if sm.contact_id, sm.recipient_email, "http://#{CRM_HOST}/contacts/#{sm.contact_id}" %></td>
          <td><%= sm.formatted_from_address %></td>
          <td><%= sm.get_bccs %></td>
          <td><%= l( sm.send_at) if sm.send_at %></td>
          
            <td>
              <% if sm.delivered_at %>
                <%= l( sm.delivered_at) if sm.delivered_at%>
              <% else %>
                <% unless sm.conditions.blank? %>
                  <% ActiveSupport::JSON.decode(sm.conditions).each do |k, v| %>
                    <%= translate_key(k) %>: <%= t("set_options.#{v}") %><br>
                  <% end %>
                <% end %>
              <% end %>
            </td>
          
          <td>
            <% unless sm.delivered? %>
              <%= button_to t('helpers.links.cancel'),
                              scheduled_mail_path(sm),
                              method: :delete,
                              #data: { confirm: t('confirm') },
                              :onclick => "return confirm('#{t('confirm')}')",
                              class: 'btn btn-mini btn-danger' %>
              <% end %>
          </td>
        </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

<%= paginate @scheduled_mails %>
