<tr>
  <td><%= ff.text_field :name, {placeholder: t('mailchimp.list.segments.name'), size: "20"} %></td>
  <td>
    <select class='form-control'>
      <option><%= t('mailchimp.list.segments.prospect')%></option>
      <option><%= t('mailchimp.list.segments.student')%></option>
      <option><%= t('mailchimp.list.segments.exstudent')%></option>
    </select>
  </td>
  <td>
    <label class='checkbox-inline'><input type='checkbox' name='gender' /> Hombres</label>
    <label class='checkbox-inline'><input type='checkbox' name='gender' /> Mujeres</label>
  </td>
  <td>
    <select class='form-control'>
      <option>??</option>
      <option><%= t('mailchimp.list.segments.all')%></option>
      <option><%= t('mailchimp.list.segments.fp')%></option>
      <option><%= t('mailchimp.list.segments.perfil')%></option>
      <option><%= t('mailchimp.list.segments.pmas')%></option>
    </select>
  </td>
  <td>
    <%= select_tag "following", options_for_select([
                        ['',''],
                        [t('contact.attributes.followed_by_any'),:any],
                        [t('contact.attributes.followed_by_none'),:none]
                    ]+current_user.current_account.usernames.map{|u|[u,u]}) %>
  </td>
  <% if ff.object.persisted? %>
    <td><%= t('mailchimp.list.segments.destroy')%></td>
  <% else -%>
    <td><%= ff.link_to_remove '<span class="glyphicon glyphicon-trash"></span>'.html_safe %></td>
  <% end %>
</tr>