<%= form_for Mailchimp::Segment.new, url: '', html: {id: 'templateForm'} do |template| %>
  <!-- form for templating -->
  <%= render partial: 'mailchimp_segment_fields', locals: { ff: template } %>
<% end -%>

<%= form_for set_up(@list), url: mailchimp_list_path(@list), method: :put do |f|  %>  
  <legend>
    <%= t('mailchimp.list.segments.segments') %>
  </legend>
    <div class="bs-callout bs-callout-info">
      <p>
        <%= t('mailchimp.list.segments.explanation', list_name: @list.name).html_safe %>
      </p>
    </div>
  <fieldset>
  <%= f.fields_for :mailchimp_segments do |ff| %>
    <%= render partial: 'mailchimp_segment_fields', locals: { ff: ff } %>
    
  <% end %>

  <%= link_to t('mailchimp.list.segments.add_segment'),
              'javascript: addSegment();',
              class: 'btn btn-primary' %>
    
  <div id="filter_method">
    <label for="filter_method">
      <%= t('mailchimp.list.segments.filter_method')%>:
    </label>
    <div class="btn-group" data-toggle="buttons">
      <label class="btn btn-primary">
        <input type="radio" name="filter_method", value="all">
        <%= t('mailchimp.list.segments.all')%>
      </label>

      <label class="btn btn-primary">
        <input type="radio" name="filter_method", value="segments">
        <%= t('mailchimp.list.segments.segments')%>
      </label>
    </div>
  </div>
  </fieldset>

  <%= f.submit nil, class: 'btn btn-success' %>
  
<% end -%>
