<% if template.needs_data? -%>
  <%= t('.cant_send') %>
  <span class="glyphicon glyphicon-question-sign"
        data-toggle="popover"
        data-trigger="hover"
        data-content="<%= t('.needs_data') %>" ></span>
<% else -%>
  <%= form_tag( deliver_template_path(template.id), :method => :post, class: "send_email_form") do %>
      <%= text_field_tag :recipient, nil, class: "input-small search-query" %>
      <%= submit_tag t('templates.index.deliver'), class: "btn btn-mini", data: {confirm: t('confirm')} %>
  <% end %>
<% end -%>
