<%= f.fields_for :templates_triggerses, @trigger.templates_triggerses.new do |template| %>
  <div class="control-group">
    <label class="control-label"><span></span></label>
    <div class="controls form-inline">
      <%= template.hidden_field :template_id, id: 'template_id' %>
      <div class="hint">
        <%= t('.available_dinamic_tags') %>:<br/>
        <ul>
          <li>{{contact.instructor.email}} <%= t('.tags.contact_instructor_email') %>.</li>
          <li>{{contact.instructor.name}} <%= t('.tags.contact_instructor_name') %>.</li>
          <li>{{trial_lesson.instructor.email}} <%= t('.tags.trial_lesson_instructor_email') %>.</li>
          <li>{{trial_lesson.instructor.name}} <%= t('.tags.trial_lesson_instructor_name') %>.</li>
          <li>{{trial_lesson.time_slot.instructor.name}} <%= t('.tags.trial_lesson_time_slot_instructor_name') %>.</li>
          <li>{{trial_lesson.time_slot.instructor.email}} <%= t('.tags.trial_lesson_time_slot_instructor_email') %>.</li>
        </ul>
      </div>
      <h2><%= t('triggers.new.sender_data') %></h2>
      <label><%= t('.from_display_name') %></label>
      <%= template.text_field :from_display_name, class: "from_address_field", placeholder: current_user.current_account.padma.full_name %>
      <label><%= t('.from_email_address') %></label>
      <%= template.text_field :from_email_address, class: "from_address_field", placeholder: current_user.current_account.padma.email %>
      <label><%= t('.bccs') %></label>
      <%= template.text_field :bccs, class: "from_address_field", placeholder: "ej: #{current_user.padma.email}, #{current_user.current_account.padma.email}, {{contact.instructor.email}}" %>
    </div>
  </div>
<%- end %>
