<%= form_for @template, html: {class: "editHtmlForm"} do |f| %>
  <div class="form-group">
    <%= t("activerecord.attributes.template.name") %>: <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= t("activerecord.attributes.template.description") %>: <%= f.text_field :description %>
  </div>
  <div class="form-group">
    <%= t("activerecord.attributes.template.subject") %>: <%= f.text_field :subject %>
  </div>
  <%= t("activerecord.attributes.template.content_html") %>: <%= f.text_area :content %>
  <div class="form-group actions">
    <%= f.button :submit, class: 'btn btn-primary' %>
    <% if @template.id.nil? %>
      <%= link_to t("cancel"), templates_path, class: 'btn btn-danger' %>
    <% else %>
      <%= link_to t("cancel"), template_path(@template.id), class: 'btn btn-danger' %>
    <% end %>
  </div>
<% end %>