<h1>Templates</h1>
<% if @contact && !@contact.email.blank? %>
    <h3>
      <%= t('templates.index.deliver_to_headline',
              full_name: (@contact.last_name.nil? ? @contact.first_name : @contact.first_name + " " + @contact.last_name)) %>
    </h3>
    <% elsif @contact %>
    <h3>
      <%= t('templates.index.contact_has_no_mail',
            full_name: (@contact.last_name.nil? ? @contact.first_name : @contact.first_name + " " + @contact.last_name)) %>
    </h3>
<% end %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Subject</th>
    <th></th>
    <th>Mail</th>
  </tr>
  </thead>
  <tbody>
  <% @templates.each do |template| %>
      <tr>
        <td><%= link_to template.name, template_path(template) %></td>
        <td><%= template.description %></td>
        <td><%= template.subject %></td>
        <td>
          <%= link_to 'Edit', "/editor" + edit_template_path(template),
                      class: 'btn btn-mini' %>
          <%= link_to 'Destroy', template_path(template), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
        <td>
          <%= render partial: "index_form", locals: {template: template} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New', "/editor" + new_template_path,
            class: 'btn btn-primary' %>