<h1>Templates</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Subject</th>
  </tr>
  </thead>
  <tbody>
  <% @templates.each do |template| %>
      <tr>
        <td><%= link_to template.name, template_path(template) %></td>
        <td><%= template.description %></td>
        <td><%= template.subject %></td>
        <td>
          <%= link_to 'Edit', "/editor" + edit_template_path(template),
                      id:"edit_link",
                      data: {save_url: mercury_update_template_path(template)},
                      class: 'btn btn-mini' %>
          <%= link_to 'Destroy', template_path(template), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
        <td>
          <%= form_tag("templates/#{template.id}/deliver", :method => :post, class: "send_email_form") do %>
            <%= text_field_tag :recipient, nil, class: "input-small search-query" %>
            <%= submit_tag t('templates.index.deliver'), class: "btn btn-mini", confirm: t('confirm') %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New', "/editor" + new_template_path,
            id: "new_link",
            data: {save_url: mercury_create_templates_path},
            class: 'btn btn-primary' %>
