<%- page_title t("templates.show.title") -%>
<%- breadcrum t("templates.show.title") -%>

<p>
  <b>Name</b><br>
  <%= @template.name %>
</p>

<p>
  <b>Description</b><br>
  <%= @template.description %>
</p>

<p>
  <b>Subject</b><br>
  <%= @template.subject%>
</p>

<p>
  <b>Content</b><br>
</p>
<div>
  <%= @template.content.html_safe %>
</div>

<b>Attachments</b>
<table id="att-table" class="table table-condensed table-hover" >
  <% @template.attachments.each do |att|%>
      <% if !att.id.nil? %>
          <tr id="attachment_<%= att.id %>">
            <td>
              <i class="icon-file"></i>
              <%= att.attachment_file_name %>
            </td>
            <td>
              <%= button_to t('destroy'),
                    template_attachment_path(template_id: @template.id, id: att.id),
                    method: :delete,
                    #confirm: t('confirm'),
                    :onclick => "return confirm('#{t('confirm')}')",
                    class: 'btn btn-danger' %>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>

<%= form_for @template, :html => {id: "fileupload"} do |f| %>
    <%= f.fields_for @template.attachments.new do |builder| %>
        <%= builder.file_field :attachment %>
    <% end %>
<% end %>


<script id="template-upload" type="text/x-tmpl">
  <div class="upload upload-file-name">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>


<div class="form-actions">
  <%= link_to 'Back', templates_path, :class => 'btn'  %>
  <%= link_to 'Edit', "/editor" + edit_template_path(@template, page_title: t("templates.show.title")),
              id:"edit_link",
              data: {save_url: mercury_update_template_path(@template)},
              class: 'btn' %>
  <%= link_to 'Delete', template_path(@template), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>

