<%- breadcrum t("templates.show.title") -%>

<div class='template-content'>
  <dl class='template-item'>
    <dt>Name</dt>
    <dd><%= @template.name %></dd>
  </dl>
  <dl class='template-item'>
    <dt>Description</dt>
    <dd><%= @template.description %></dd>
  </dl>
  <dl class='template-item'>
    <dt>Subject</dt>
    <dd><%= @template.subject%></dd>
  </dl>
  <dl class='template-item'>
    <dt>Content</dt>
    <dd><%= @template.content.html_safe %></dd>
  </dl>
  <dl class='template-item'>
    <dt>Attachments</dt>
    <dd>
      <table id="att-table" class="table table-condensed table-hover" >
        <% @template.attachments.each do |att|%>
            <% if !att.id.nil? %>
                <tr id="attachment_<%= att.id %>">
                  <td>
                    <i class="icon-file"></i>
                    <%= att.attachment_file_name %>
                  </td>
                </tr>
            <% end %>
        <% end %>
      </table>
    </dd>
  </dl>
</div>

<%= form_for @template, :html => {id: "fileupload"} do |f| %>
  <%= f.fields_for @template.attachments.new do |builder| %>
    <%= builder.file_field :attachment %>
  <% end %>
<% end %>


<script id="template-upload" type="text/x-tmpl">
  <div id="upload-file-name" class="upload">
    {%=o.name%}
    <div class="progress"><div class="bar" style="width: 0%"></div></div>
  </div>
</script>

<hr />
<div class="form-actions">
  <%= link_to 'Back', templates_path, :class => 'btn btn-default'  %>
  <%= link_to 'Edit', "/editor" + edit_template_path(@template), id:"edit_link", data: {save_url: mercury_update_template_path(@template)}, class: 'btn btn-default' %>
  <%= link_to 'Delete', template_path(@template), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>

