<%= form_for @mailchimp, url: mailchimp_path, method: 'PUT' do |f|  %>  
  <fieldset>
    <legend><%= t('mailchimp.show.list_syncronization') %></legend>

    <label for="students_list_id"><%= t('mailchimp.show.list_on_mailchimp_for.students') %></label>
    <%= f.select :students_list_id, @mailchimp_lists.map{|l| [l["name"],l["id"]]} %>

    <label for="all_list_id"><%= t('mailchimp.show.list_on_mailchimp_for.all') %></label>
    <%= f.select :all_list_id, @mailchimp_lists.map{|l| [l["name"],l["id"]]} %>

    <label for="p_former_students_list_id"><%= t('mailchimp.show.list_on_mailchimp_for.p_former_students') %></label>
    <%= f.select :p_former_students_list_id, @mailchimp_lists.map{|l| [l["name"],l["id"]]} %>
    
  </fieldset>
  
  <%= f.submit nil, class: 'btn btn-primary' %>
<% end -%>
