<%- page_title t(".title") -%>
<%- breadcrum t(".title") -%>

<div class='mailchimp-section'>
	<section class='card card-primary'>
		<header class='card-title'><%= t('.title') %></header>
		<div class='card-body'>
			<p class='lead'>
        <%= t('.intro') %>
			</p>
			<p><strong><%= t('.monthly_cost') %>: <%= @monthly_value %> <%= t('.monthly') %></strong></p>
			<div class='mailchimp-integration'>
				<div class='integration-item'>
          <%= image_tag 'logo-padma.jpg' %>
				</div>
				<div class='integration-item'>
					<div class='glyphicon glyphicon-resize-horizontal'></div>
				</div>
				<div class='integration-item'>
          <%= image_tag 'logo-mailchimp.jpg' %>
				</div>
			</div>
			<footer class='form-actions margin-top-20 text-right'>
        <%= link_to t('.see_configuration'), mailchimp_configuration_path, class: 'btn btn-primary' %>
        <% if can?(:destroy,PetalSubscription) -%>
          <a href="" class='btn btn-danger' data-toggle="modal" data-target="#confirm-cancel-subscription"><%= t('.cancel_integration') %></a>
        <% else -%>
          <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="top" data-original-title="<%= t('.only_admin_can_cancel') %>"><%= t('.cancel_integration') %></button>
        <% end -%>
			</footer>
		</div>
	</section>
</div>

<%= render 'cancel_subscription_modal' %>
