<div class="modal fade in" id="create-notifications" tabindex="-1" role="dialog" aria-labelledby="confirmCancelSubscription" style="display: none; padding-right: 15px;">
  <div class="modal-dialog" role="document">
    <%= form_tag update_notifications_mailchimp_list_path(id: configuration.primary_list.id) do %>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="confirm-subscription-title"><%= t('.title') %></h4>
      </div>
      <div class="modal-body">
        <%= render "mailchimp/configurations/webhooks_configuration", configuration: configuration, webhook: webhook, new_config: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('.keep_subscription') %></button>
        <button type="submit" class="btn btn-danger" data-disable-with="..."><%= t('mailchimp.subscriptions.show.cancel_integration') %></button>
      </div>
    </div>
    <% end -%>
  </div>
</div>
