<%= form_for @configuration, url: mailchimp_configuration_path do |f|  %>  
  <fieldset>
    <legend><%= t('mailchimp.new.setup_mailchimp_api_key') %></legend>
    <p>
      <%= t('mailchimp.new.sync_times') %>
    </p>

    <label for="api_key"><%= t('mailchimp.new.api_key') %></label>
    <%= f.text_field :api_key %>
      <%= link_to t('mailchimp.new.get_api_key'), "https://us1.admin.mailchimp.com/account/api/", target: '_blank'%>
    <p class="help-block">
      <%= link_to t('mailchimp.new.api_key_help'), "http://kb.mailchimp.com/article/where-can-i-find-my-api-key", target: '_blank' %>
    </p>
    
  </fieldset>
  
  <%= f.submit nil, class: 'btn btn-primary' %>
<% end -%>
