<%- page_title t("activerecord.models.mailchimp_integration") -%>
<div class='mailchimp-section'>
  <section class='card card-primary'>
    <header class='card-title'><%= t("activerecord.models.mailchimp_integration") %></header>
    <div class='card-body'>
      <p class='lead'>
        <%= t('.summary', list_name: @configuration.primary_list.name).html_safe %>
      </p>
      <dl>
        <dt>api key:</dt>
        <dd><%= @configuration.api_key %></dd>
      </dl>
      <p>
      <div class='alert alert-info alert-dismissible fade in' role='alert'>
        <button type='button' class='close' data-dismiss='alert'>&times;</button>
        <%= t('.sync_explanation') %>
      </div>
      </p>
      <p><%= link_to t('.open_mailchimp'), 'http://mailchimp.com', target: '_blank' %></p>
      <p>
      </p>
      <footer class='form-actions text-right'>
        <% if can?(:destroy,PetalSubscription) -%>
          <% if @configuration.status != "working" %>
            <a href="" class='btn btn-danger' data-toggle="modal" data-target="#confirm-cancel-subscription"><%= t('.disable_mailchimp') %></a>
          <% else %>
            <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="top" data-original-title="<%= t('mailchimp.subscriptions.show.cant_modify_when_working') %>"><%= t('.disable_mailchimp') %></button>
          <% end %>
        <% else -%>
          <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="top" data-original-title="<%= t('mailchimp.subscriptions.show.only_admin_can_cancel') %>"><%= t('.disable_mailchimp') %></button>
        <% end -%>
        <% if @configuration.status != "working" %>
          <%= link_to t('mailchimp.configuration.edit_segments'), segments_mailchimp_list_url(@configuration.primary_list), class: 'btn btn-default' %>
        <% else %>
          <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" data-original-title="<%= t('mailchimp.subscriptions.show.cant_modify_when_working') %>"><%= t('mailchimp.configuration.edit_segments') %></button>
        <% end %>
        <%= link_to t('.sync_now'), sync_now_mailchimp_configuration_path, class: "btn btn-primary", id: "sync_now", data: { disable_with: '...' } %>
      </footer>
    </div>
  </section>
</div>

<%= render 'mailchimp/subscriptions/cancel_subscription_modal' %>
