<ul>
  <li><label>api key:</label> <%= @configuration.api_key %></li>
  <li><label>filter method:</label> <%= @configuration.filter_method %></li>
  <li><label>Syncing with list:</label> <%= @configuration.primary_list.name %> </li>
  <li><label>Segments</label>
    <ul>
      <% @configuration.mailchimp_segments.each do |segment| -%>
        <li>
        <%= segment.name %>
        </li>
      <% end -%>
    </ul>
  </li>
  <li class="no-bullet">
    <%= link_to t('mailchimp.configuration.edit_segments'),
                segments_mailchimp_list_url(@configuration.primary_list),
                class: 'btn btn-success btn-xs' %>
  </li>

</ul>

