<%- page_title t("activerecord.models.mailchimp_integration") -%>
<div class='mailchimp-section'>
  <section class='card card-primary'>
    <header class='card-title'><%= t("activerecord.models.mailchimp_integration") %></header>
    <div class='card-body'>
      <p class='lead'>
        <%= t('.summary', list_name: @configuration.primary_list.name).html_safe %>
      </p>
      <dl>
        <dt>api key:</dt>
        <dd><%= @configuration.api_key %></dd>
      </dl>
      <p>
      <div class='alert alert-info alert-dismissible fade in' role='alert'>
        <button type='button' class='close' data-dismiss='alert'>&times;</button>
        <%= t('.sync_explanation') %>
      </div>
      </p>
      <p><%= link_to t('.open_mailchimp'), 'http://mailchimp.com', target: '_blank' %></p>
      <p>
      </p>
      <footer class='form-actions text-right'>
        <% if can?(:destroy,PetalSubscription) -%>
          <% if @configuration.status != "working" %>
            <a href="" class='btn btn-danger' data-toggle="modal" data-target="#confirm-cancel-subscription"><%= t('.disable_mailchimp') %></a>
          <% else %>
            <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="top" data-original-title="<%= t('mailchimp.subscriptions.show.cant_modify_when_working') %>"><%= t('.disable_mailchimp') %></button>
          <% end %>
        <% else -%>
          <button type="submit" class="btn btn-danger" data-toggle="tooltip" data-placement="top" data-original-title="<%= t('mailchimp.subscriptions.show.only_admin_can_cancel') %>"><%= t('.disable_mailchimp') %></button>
        <% end -%>
        <% if @configuration.status != "working" %>
          <%= link_to t('mailchimp.configuration.edit_segments'), segments_mailchimp_list_url(@configuration.primary_list), class: 'btn btn-default' %>
        <% else %>
          <button type="submit" class="btn btn-default" data-toggle="tooltip" data-placement="top" data-original-title="<%= t('mailchimp.subscriptions.show.cant_modify_when_working') %>"><%= t('mailchimp.configuration.edit_segments') %></button>
        <% end %>
        <%= link_to t('.sync_now'), sync_now_mailchimp_configuration_path, class: "btn btn-primary", id: "sync_now", data: { disable_with: '...' } %>
      </footer>
    </div>
  </section>
  
  <section class='card card-primary'>
    <header class='card-title'>
      <%= t("mailchimp.list.show.notifications.title") %>
      <span class="spinner">
        <%= image_tag "spinner.gif" %>
      </span>
      <label class="switch header-switch">
        <input type="checkbox" class="inputslider receive_notifications" <%= "checked" if @configuration.primary_list.receive_notifications %>>
        <span class="slider round"></span>
      </label>
    <label><%= t("mailchimp.list.show.notifications.description") %></label>
    </header>
    <span class="invisible list_id"><%= @configuration.primary_list.id %></span>
    <div class='card-body'>
      <div class="notifications <%= "invisible" unless @configuration.primary_list.receive_notifications %>">
        <h2><%= t("mailchimp.list.show.notifications.events.title") %></h2>
        <%= t("mailchimp.list.show.notifications.events.description") %>
        <table class="table table-striped">
          <tr>
            <td>
              <h2><%= t("mailchimp.list.show.notifications.events.subscribe.title") %></h2>
              <label>
                <%= t("mailchimp.list.show.notifications.events.subscribe.description") %>
              </label>
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" name="subscribe" class="inputslider update_events_notifications" <%= "checked" if @webhook["events"]["subscribe"] %>>
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <h2><%= t("mailchimp.list.show.notifications.events.unsubscribe.title") %></h2>
              <label>
                <%= t("mailchimp.list.show.notifications.events.unsubscribe.description") %>
              </label>
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" name="unsubscribe" class="inputslider update_events_notifications" <%= "checked" if @webhook["events"]["unsubscribe"] %>>
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <h2><%= t("mailchimp.list.show.notifications.events.cleaned.title") %></h2>
              <label>
                <%= t("mailchimp.list.show.notifications.events.cleaned.description") %>
              </label>
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" name="cleaned" class="inputslider update_events_notifications" <%= "checked" if @webhook["events"]["cleaned"] %>>
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <h2><%= t("mailchimp.list.show.notifications.events.profile.title") %></h2>
              <label>
                <%= t("mailchimp.list.show.notifications.events.profile.description") %>
              </label>
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" name="profile" class="inputslider update_events_notifications" <%= "checked" if @webhook["events"]["profile"] %>>
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <h2><%= t("mailchimp.list.show.notifications.events.upemail.title") %></h2>
              <label>
                <%= t("mailchimp.list.show.notifications.events.upemail.description") %>
              </label>
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" name="upemail" class="inputslider update_events_notifications" <%= "checked" if @webhook["events"]["upemail"] %>>
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <h2><%= t("mailchimp.list.show.notifications.events.campaign.title") %></h2>
              <label>
                <%= t("mailchimp.list.show.notifications.events.campaign.description") %>
              </label>
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" name="campaign" class="inputslider update_events_notifications" <%= "checked" if @webhook["events"]["campaign"] %>>
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
        </table>
        <h2><%= t("mailchimp.list.show.notifications.sources.title") %></h2>
        <%= t("mailchimp.list.show.notifications.sources.description") %>
        <table class="table table-striped">
          <tr>
            <td>
              <h2><%= t("mailchimp.list.show.notifications.sources.user.title") %></h2>
              <label>
                <%= t("mailchimp.list.show.notifications.sources.user.description") %>
              </label>
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" name="user" class="inputslider update_sources_notifications" <%= "checked" if @webhook["sources"]["user"] %>>
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <h2><%= t("mailchimp.list.show.notifications.sources.admin.title") %></h2>
              <label>
                <%= t("mailchimp.list.show.notifications.sources.admin.description") %>
              </label>
            </td>
            <td>
              <label class="switch">
                <input type="checkbox" name="admin" class="inputslider update_sources_notifications" <%= "checked" if @webhook["sources"]["admin"] %>>
                <span class="slider round"></span>
              </label>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </section>
</div>

<%= render 'mailchimp/subscriptions/cancel_subscription_modal' %>
