<%= form_for @trigger, :html => { :class => 'form-horizontal' } do |f| %>
    <fieldset>
      <legend><%= controller.action_name.capitalize %> Template</legend>

      <div class="control-group">
        <%= f.label :event_name, :class => 'control-label' %>
        <div class="controls">
          <%= f.select :event_name, ['communication', 'subscription_change'], {} %>
        </div>
      <div id="filters"></div>
      <div class="control-group">
        <div class="control-label">
          <button id="add-filter" class="btn"><%= t('triggers.form.add_filter') %></button>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to 'Cancel', templates_path, :class => 'btn' %>
      </div>
    </fieldset>
<% end %>

<template id="new_filter" style="display: none" data-options="<%= Filter::SUGGESTED_VALUES.to_json %>">
  <%= fields_for 'trigger[filters_attributes][]', @trigger.filters.new do |filter| %>
    <div class="control-group">
      <label class="control-label">Filter</label>
      <div class="controls form-inline">
        <%= filter.select :key, %W(estimated_coefficient contact_gender), {}, class: 'key_select' %>
        <%= filter.select :value, [1,2,3], {}, class: 'input-small', class: 'value_select' %>
        <a class="remove-filter btn btn-mini btn-danger" rel="nofollow">x</a>
      </div>
    </div>
  <% end %>
</template>