<h1>Triggers</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <td>Event name</td>
    <td>filters</td>
    <td>templates</td>
  </tr>
  </thead>
  <tbody>
  <% @triggers.each do |trigger| %>
    <tr>
      <td><%= trigger.event_name %></td>
      <td><%= trigger.filters.map{|f| "#{f.key}=#{f.value}" }.join(';') %></td>
      <td><%= trigger.templates.map{|t|t.name}.join(',') %></td>
      <td>
        <%= link_to 'Destroy', trigger_path(trigger), :method => :delete, :confirm => t('confirm'), :class => 'btn btn-mini btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New', new_trigger_path, :class => 'btn btn-primary' %>