<%- page_title t(".triggers") -%>
<%- breadcrum t(".triggers") -%>

<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <%= t('triggers.index.delay_warning', minutes: 5) %>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <td><%= t('.event') %></td>
    <td><%= t('.filters') %></td>
    <td><%= t('.deliver_templates_on') %></td>
    <td></td>
  </tr>
  </thead>
  <tbody>
  <% @triggers.each do |trigger| %>
    <tr>
      <td><%= t("triggers.new.event.#{trigger.event_name}") %></td>
      <td><%= trigger.filters.map{|f| "#{translate_key(f.key)}=#{t("set_options.#{f.value}")}" }.join('; ') %></td>
      <td><ul><%= trigger.templates_triggerses.map{|tt|"<li><b>#{tt.template.name}</b><br/>#{explain_offset(tt)}<br/>FROM: #{tt.formatted_from_address}<br/>BCC: #{tt.bccs}</li>"}.join('').html_safe %></ul></td>
      <td>
        <%= button_to t('destroy'),
                          trigger_path(trigger),
                          method: :delete,
                          #data: { confirm: t('confirm') },
                          :onclick => "return confirm('#{t('confirm')}')",
                          class: 'btn btn-mini btn-danger' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t('new'), new_trigger_path, :class => 'btn btn-primary' %>
