<%- page_title t("triggers.new.title") -%>
<%- breadcrum t("triggers.new.title") -%>
<%= nested_form_for @trigger, :html => { :class => 'form-horizontal trigger-form' } do |f| %>
  <fieldset>
    <div class="control-group">
      <div class="jumbotron jumbotron-fluid">
        <h2><%= t('triggers.new.event.name') %></h2>
        <p class="lead"><%= t('triggers.new.event_select_message') %></p>
        <div class="controls">
          <span class="picker-container">
            <%= f.select :event_name, 
              Trigger::VALID_EVENT_NAMES.map{|en| [t(".event.#{en}"),en]}, {:include_blank=>true}, 
              class: 'selectpicker event_names', 
              "data-live-search"=>"true", 
              "data-width"=>"320px", 
              "data-height"=>"48px", 
              "data-placeholder-text" => t('.select_event'), 
              "data-container" => "form" %>
            <span id="alert-message" class="alert alert-danger"><%= t('triggers.birthday.warning') %></span>
          </span>
        </div>
        <br>
        <%= text_field_tag "trigger[templates_triggerses_attributes][0][offset_number]", 
          "", 
          placeholder: t('templates.templates.offset_number'), 
          id: "trigger_templates_triggerses_attributes_0_offset_number", 
          class: 'offset_number', 
          data: { 
            toggle: 'tooltip', 
            placement: 'top', 
            title: t('templates.templates.offset_number_tooltip') 
          } %>
        <%= select_tag "trigger[templates_triggerses_attributes][0][offset_unit]", 
          options_for_select(
            TemplatesTriggers::VALID_UNITS.map{|vu| [t("templates.templates.units.#{vu}"), vu]}), 
          class: 'selectpicker offset_unit', 
          "data-live-search" => "true", 
          "data-width" => "91px" %>
        <div class="right-arrow glyphicon glyphicon-play template-right-arrow"></div>
        <div class="input-prepend offset_reference_block">
          <span class="add-on"><%= t('trigger.since') %></span>
          <%= select_tag "trigger[templates_triggerses_attributes][0][offset_reference]", 
            [], 
            class: "selectpicker offset_reference", 
            "data-live-search" => "true", 
            "data-width" => "275px" %>
          <a data-association="templates_triggerses" 
             class="remove_nested_fields btn btn-mini btn-danger remove_template_reference" 
             href="javascript:void(0)">
            <i class="glyphicon glyphicon-remove"></i>
          </a>
        </div>
      </div>
      
      <div class="jumbotron jumbotron-fluid add-more add_more add_more_filter">
        <div class="add_more add_more_filter">
          <h2><%= t('triggers.new.filters.name') %></h2>
          <p class="lead"><%= t('triggers.new.filters.explained') %></p>
        </div>
        
        <div id="filters">
        </div>
        <div class="add_more">
          <%= link_to t('.add_filter'), "#", class: "add-filter" %>
          <%= f.link_to_add t('.add_filter'), 
            :filters, 
            class: "btn btn-mini btn-primary glyphicon glyphicon-plus add_more_filter", 
            id: "add_more_filters", 
            :data => { :target => "#filters" } %>
        </div>
        <div class="select-filter-container">
          <%= select_tag "Select Filter", options_for_select([]), class: "selectpicker select-filter", include_blank: true %>
        </div>
        <div id="filter_option">
          <%= render partial: 'filter', :locals =>{ f: f} %>
        </div>
        <div>
          <% link_to t('.continue_to_select_template'), 
            "javascript:void(0);", 
            :class => 'btn btn-large btn-primary btn-disabled', 
            id: 'continue-part2' %>
        </div>
        <div class="add_more_condition">
          <br>
          <h2><%= t('triggers.new.conditions.name') %></h2>
          <p class="lead"><%= t('triggers.new.conditions.explained')  %></h3>
        </div>
        <div class="conditions"></div>
        <div class="add_condition">
          <%= f.link_to_add t(".add_condition"), 
            :conditions, 
            class: "btn btn-mini btn-primary glyphicon glyphicon-plus add_more_condition", 
            id: "add_more_condition", 
            data: {target: ".conditions"} %>
        </div>
        <div class="condition_option">
          <h2> <%= t("triggers.new.select_conditions") %> </h2>
          <%= render "condition", f: f %>
        </div>
      </div>

      <div class="part2"> 
        <div class="jumbotron jumbotron-fluid">
          <h2> <%= t('triggers.new.templates.name') %> </h2>
         <p class="lead"> <%= t('triggers.new.templates.explained') %></p>
         <div class="control-group">
           <div class="controls form-inline">
             <span class="picker-container">
               <select id="select-template" 
                       class='selectpicker select-template' 
                       data-live-search="true", 
                       data-width="320px" 
                       data-placeholder-text="<%= t('.select_template') %>">
                 <option data-hidden="true"></option>
                 <%- current_user.current_account.templates.each do |template| %>
                   <option value="<%= template.id %>"><%= template.name %></option>
                 <%- end %>
               </select>
             </span>
           </div>
         </div>
        </div>
        
        <div class="jumbotron jumbotron-fluid">
          <div id="templates"></div>
          <div id="templates_option">
            <%= render partial: 'templates/templates', :locals =>{ f: f} %>
          </div>
        </div>
        <div class="buttons">
          <div class="form-actions clear create_trigger">
            <%= f.submit nil, :class => 'btn btn-primary submit_trigger' %>
            <%= link_to t('cancel'), templates_path, :class => 'btn' %>
          </div>
        </div>
      </div> 
    </div>
  </fieldset>
<% end %>

<div id="new_filter" style="display: none" data-options="<%= {suggested_values: Filter::SUGGESTED_VALUES}.to_json %>">
</div>

<div id="new_condition" style="display: none" data-options="<%= {suggested_values: Condition::SUGGESTED_VALUES}.to_json %>"></div>

<div id="new_trigger_template" style="display:none" data-options="<%= {offset_references: TemplatesTriggers::VALID_REFERENCES}.to_json %>">
</div>
